
.promise{
    background:#2b4b9b;
    padding-top:88px;
    padding-bottom:170px;
}


.promise__content{
    width:675px;
    margin:0 auto;
}
.promise__headline{
    width:900px;
    margin:0 auto 22px;
    color:#fff;
    font-family:"M PLUS 1p",sans-serif;
    font-size:26px;
    font-weight:700;
    line-height:1.55;
    text-align:center;
}

.promise__body{
    margin:0 auto;
    width:770px;      /* was 610px */
    color:#ececec;
    font-family:"M PLUS 1p",sans-serif;
    font-size:15px;
    font-weight:600;
    font-style:italic;
    line-height:2.05;
    letter-spacing:.02em;
}